body {
    font-family: 'Crete Round', serif;
    text-align: justify;}

.fundo-video {

    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video video {
    height: 100vh;

}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);

}
.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 60px 130px 5px 130px;
    /* max-width: 1440px; */
    margin: 0 auto;
}

.logo {
    width: 65px;
}

.menu {
    display: flex;
    align-items: center;
    height: 100%;
}


.menu a {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 22px;
    padding: 20px 30px;
    border-radius: 25px;
    transition: 300ms;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-right: 25px;
    margin-left: 5px;
}

.menu a:hover {
    background-color: #d5011d;
}

main {

    background-color: #d5011dc2;
    width: 900px;
    margin: 60px auto;
    height: 600px;
    border-radius: 30px;
    align-items: center;
}


main ul {
    display: flex;
    margin: 12px 50px 15px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.icons {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icons img {
   width: 55px;
}

main li {
    margin: 0 50px;
    gap: 20px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    list-style-type: none;
}
main h1 {

    text-align: center;
    padding: 50px 35px 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
}

main h2 {
    text-transform: uppercase;
}

.jupert {
    margin-top: 25px;
}

main p {
    padding: 10px 30px 15px;
    text-align: justify;
    color: #ffffff;
    margin: 0 20px;
    font-size: 20px;
}

main a {
    color:black;
    font-weight: bold;
}

main a:hover {
    color: white;

}

main a:active {
    color: rgb(255, 60, 0);
}

main h2 {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

main img {
    width: 80px;
    transition: 400ms;
}

main img:hover {
    transform: scale(1.2);
}